{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>

<div class="row">

    {% for book in book_list %}
    <div class="col-md-4">
        <div class="card my-card">
          {% if book.book.image %}
             <img class="card-img-top" src="{{book.book.image.url}}" alt="Where did the pic go?">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">Title: {{book.book.book_name}}</h5><br>
            <p class="card-text">Author: {{book.book.author}}</p>
            <p class="card-text">Condition: {{book.book.condition}}</p>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

