{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>

<div class="row">
    {% for book in bought_books %}
    <div class="col-md-4">
        <div class="card my-card">
          {% if book.image %}
             <img class="card-img-top" src="{{book.image.url}}" alt="Where did the pic go?">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">Title: {{book.name}}</h5><br>
            <p class="card-text">Author: {{book.author}</p>
            <p class="card-text">Condition: {{book.condition}</p>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

